table{
    width: 70% !important;
    text-align: center;
    margin-top: 80px !important;
    margin: auto;
    
}
.clear{
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 50px;
}